.mainHeading {
    color: blue;
}

#mainHeading {
    color: aqua;
}

.mainHeading1 {
    color: red;
}

#mainHeading1 {
    color: blueviolet;
}

body {
    background-color: black;
    color: white;

}